body{
  background-image: url(https://free-images.com/lg/06a9/forest_coniferous_forest_trees.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.div class text container{
  color: white;
}
